<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MyConnectionString" providerName="MySql.Data.MySqlClient" connectionString="User ID=root;Password=0000;server=localhost;database=webportalism"/>
  </connectionStrings>
   <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>